@import '../vars-and-mixins/index.scss';
@import '../utils/index.scss';

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55%;
  @include flex(flex-start, flex-start, column);
}

.mobile-header {
  flex: none;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  border-bottom: 2px solid $c-black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zi-mobile-header;
  background-color: $c-white;

  &__content {
    width: 100%;
    height: 100%;
    background-color: $c-white;
    @include flex(space-between);
    @include padding(0 10px);
  }
}

.header-logo {
  &__img {
    width: 193px;
    vertical-align: bottom;
  }
}

.hbg {
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
  display: inline-block;

  &__bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 35px;
    height: 2px;
    background-color: $c-black;
    transition: 0.4s;
  }
}

.header-menu-checkbox {
  display: none;

  &[type='checkbox'] {
    & ~ .header-content {
      transition: 0.4s;
      position: fixed;
      top: -100%;
      left: 0;

      // @include position(tl, -100%, 0);
    }

    & + .mobile-header {
      .hbg {
        &__bar {
          &--close {
            opacity: 0;
          }

          &--open {
            box-shadow: 0 11px 0px $c-black, 0px -11px 0px $c-black;
          }
        }
      }
    }
  }

  &[type='checkbox']:checked {
    & ~ .header-content {
      position: fixed;
      top: 0;
      left: 0;
      // @include position(tl, 0, 0);
    }

    & + .mobile-header {
      .hbg {
        &__bar {
          &--close {
            opacity: 1;
            transform-origin: center;

            &--top {
              transform: rotate(-45deg);
            }

            &--bottom {
              transform: rotate(45deg);
            }
          }

          &--open {
            opacity: 0;
            box-shadow: 0 0px 0px $c-black, 0px -0px 0px $c-black;
          }
        }
      }
    }
  }
}

.header-content {
  width: 100%;
  flex: 1;
  background-color: $c-light-green;
  height: 100%;
  @include padding(107px 20px);
  z-index: $zi-mobile-header-content;
  box-sizing: border-box;
  border-bottom: 2px solid $c-black;

  &__content {
    @include flex(space-between, flex-start, column);
    height: 100%;
  }
}

.site-menu {
}

.nav-list {
  &__item {
    & + & {
      margin-top: 25px;
    }

    &__link {
      @include font-style($c-black, 40, 400, 0.095em, 38px);
      cursor: pointer;
    }
  }
}

.other-info {
}
.social-media {
}

.social-media-list {
  &__item {
    & + & {
      margin-top: 30px;
    }
    &__icon {
      cursor: pointer;
    }
  }
}

.header-menu-logo {
  margin-top: 48px;
  width: 95px;

  &__img {
    width: 100%;
    vertical-align: bottom;
  }
}

@media screen and (min-width: $sm-pc) {
  .main-header {
    height: 60px;
    background-color: $c-white;
  }

  .mobile-header {
    display: none;
    &__content {
      height: 60px;
    }
  }

  .header-logo {
    &__img {
    }
  }

  .hbg {
    &__bar {
      &__close {
      }

      &__open {
      }
    }
  }

  .header-menu-checkbox {
    display: none;

    &[type='checkbox'],
    &[type='checkbox']:checked {
      & ~ .header-content {
        // position: static;
        position: fixed;
        top: 0;
        left: 0;
      }
    }
  }

  .header-content {
    height: 60px;
    @include padding(0);
    position: static;
    background-color: $c-white;
    @include flex();

    &__content {
      margin: 0 auto;
      width: 100%;
      max-width: 1100px;
      @include flex(space-between);
    }
  }

  .nav-list {
    @include flex();
    &__item {
      & + & {
        margin-top: 0px;
        margin-left: 34px;
      }

      &__link {
        @include font-style($c-black, 16, 400, 0.12em, 30px);
        cursor: pointer;
      }
    }
  }

  .other-info {
    @include flex();
  }

  .social-media {
  }

  .social-media-list {
    @include flex();

    &__item {
      & + & {
        margin-top: 0px;
        margin-left: 23px;
      }

      &__icon {
      }
    }
  }

  .header-menu-logo {
    margin-top: 0;
    &__img {
      margin-left: 23px;
      cursor: pointer;
    }
  }
}
