#html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 16px !important; // set for rem base
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

@font-face {
  font-family: AAGrotesk;
  src: url('../../static/font/AAGrotesk-Regular.otf');
}

* {
  font-family: AAGrotesk, 'PingFang TC', Microsoft JhengHei, 微軟正黑體, sans-serif, Arial, Helvetica;
}
