@import '../vars-and-mixins/index.scss';
@import '../utils/index.scss';

.about {
  background-color: $c-bg-display;
  padding-top: 65px;
  padding-bottom: 65px;

  &__content {
  }
}

.three,
.two {
  &__title {
    text-align: center;

    &__main {
      @include font-style($c-white, 15, 400, 0.12em, 22px);
    }

    &__desc {
      @include font-style($c-white, 15, 400, 0.12em, 22px);
      margin-top: 40px;
    }

    &__memo {
      @include font-style($c-white, 12, 400, 0.17em, 32px);
      margin-top: 20px;
    }
  }
}

.three {
  &__content {
    @include flex(center, center, column);
  }
}

.work {
  &__box {
    max-width: 340px;

    & + & {
      margin-top: 62px;
    }
    &__upper {
      @include padding(0 20px);

      &__img-box {
        margin-top: 67px;
        margin-bottom: 40px;

        &__img {
          width: 100%;
          vertical-align: bottom;
        }
      }

      &__desc {
        @include flex(space-between, flex-start);

        &__left {
          &__tier {
            text-align: right;
            @include font-style($c-white, 24, 400, 0.095em, 38px);
            height: 38px;
            margin-bottom: 15px;
          }

          &__title {
            &__eng {
              padding-top: 15px;
              @include font-style($c-white, 24, 400, 0.095em, 38px);
              position: relative;

              &::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: $c-white;
                display: inline-block;
                @include position(tl, 0, 0);
              }
            }

            &__ch {
              @include font-style($c-white, 24, 400, 0.095em, 38px);
            }
          }
        }

        &__right {
          &__top-text {
            @include font-style($c-white, 16, 400, 0.12em, 30px);
            height: 38px;
            margin-bottom: 15px;
            text-align: right;
            @include flex(flex-end, flex-end);

            &__num {
            }
          }

          &__bottom-num {
            @include font-style($c-white, 16, 400, 0.12em, 30px);
            position: relative;
            padding-top: 15px;

            &::after {
              content: '';
              width: 100%;
              height: 1px;
              background-color: $c-white;
              display: inline-block;
              @include position(tl, 0, 0);
            }
          }
        }
      }

      &__promote-text {
        @include font-style($c-white, 15, 400, 0.12em, 22px);
        margin-top: 50px;
        text-align: center;
      }
    }

    &__intro {
      margin-top: 36px;

      &__text {
        @include font-style($c-white, 15, 400, 0.1em, 22px);

        & + & {
          margin-top: 62px;
        }
      }
    }
  }
}

.divide {
  margin-top: 24px;
  margin-bottom: 60px;
  background-color: $c-white;
  height: 1px;
  width: 100%;
}

.public-version {
  text-align: center;
  margin-top: 54px;

  &__img-box {
    &__img {
      vertical-align: bottom;
    }
  }

  &__texts {
    margin-top: 70px;
    margin-bottom: 70px;

    &__text {
      @include font-style($c-white, 30, 400, 0.095em, 38px);
    }

    &__movement {
      @include font-style($c-white, 15, 400, 0.12em, 22px);
      margin-top: 34px;
    }
  }
}

.weird-creature {
  margin-top: 90px;
  text-align: center;

  &__img {
    width: 67px;
    vertical-align: bottom;
  }
}

@media screen and (min-width: $sm-pc) {
  .about {
    background-color: $c-bg-display;

    &__content {
      padding-top: 112px;
      padding-bottom: 120px;
    }
  }

  .three,
  .two {
    &__title {
      text-align: center;

      &__main {
        @include font-style($c-white, 24, 400, 0.19em, 44px);
      }

      &__desc {
        @include font-style($c-white, 24, 400, 0.19em, 44px);
      }

      &__memo {
        @include font-style($c-white, 12, 400, 0.17em, 32px);
        margin-top: 20px;
      }
    }
  }

  .three {
    &__content {
      @include flex(space-between, flex-start);
      margin-top: 110px;
    }
  }

  .work {
    &__box {
      width: 100%;
      max-width: 340px;

      & + & {
        margin-top: 0px;
      }

      &__upper {
        &__img-box {
          margin-top: 0;
          // margin-bottom: 0;
        }
      }
    }
  }

  .divide {
    margin-top: 80px;
    margin-bottom: 74px;
  }

  .public-version {
    margin-top: 126px;
    @include flex(space-between);

    &__img-box {
      &__img {
        vertical-align: bottom;
      }
    }

    &__texts {
      margin-top: 0px;
      margin-bottom: 0px;

      &__text {
        @include font-style($c-white, 40, 400, 0.125em, 48px);
      }

      &__movement {
        @include font-style($c-white, 24, 400, 0.095em, 38px);
        margin-top: 52px;
      }
    }
  }

  .weird-creature {
    &__img {
      width: 123px;
    }
  }
}
