@import '../vars-and-mixins/index.scss';
@import '../utils/index.scss';

.faq {
  background-color: $c-black;
  @include padding(60px 0 0);
  position: relative;

  &::after {
    content: '';
    @include position(bl, 0%, 0);
    display: block;
    width: 100%;
    height: 390px;
    background-image: url('../../static/gradient-03.jpg');
    background-size: 100% 390px;
    background-repeat: no-repeat;
    z-index: $zi-content-bg-gradient;
  }

  &__content {
    position: relative;
    z-index: $zi-content;
  }
}

.faq-title {
  @include font-style($c-white, 15, 400, 0.12em, 22px);
  text-align: center;
}

.faq-list-wrap {
  margin-top: 60px;
}

.faq-list {
  &__item {
    &:last-child {
      border-bottom: 1px solid $c-white;
    }
  }
}

.faq-item {
  &__checkbox {
    display: none;
  }

  &__ques {
    display: block;
    border-top: 1px solid $c-white;
    // border-bottom: 1px solid $c-white;
    cursor: pointer;

    &__text {
      @include padding(15px 0 18px);
      @include font-style($c-light-green, 15, 400, 0.12em, 22px);
    }

    &__add {
      display: none;

      &__icon {
        transition: 0.4s;
      }
    }
  }

  &__ans {
    // border-top: 1px solid $c-white;
    transition: 0.4s;
    overflow: auto;

    &--active {
    }

    &__list {
      @include padding(18px 0);
      &__item {
        & + & {
          margin-top: 10px;
        }

        &__text {
          @include font-style($c-white, 15, 400, 0.12em, 22px);

          &__link {
            @include font-style($c-white, 15, 400, 0.12em, 22px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: $sm-pc) {
  .faq {
    @include padding(112px 0 0);

    &::after {
      height: 480px;
      background-size: 100% 480px;
    }
  }

  .faq-title {
    @include font-style($c-white, 40, 400, 0.125em, 48px);
  }

  .faq-list-wrap {
    margin-top: 102px;
  }

  .faq-item {
    &__ques {
      @include flex(space-between);

      &__text {
        @include padding(30px 0);
        @include font-style($c-light-green, 20, 400, 0.095em, 22px);
      }

      &__add {
        display: inline-block;
        @include padding(0 20px 0 0);

        &__icon {
          vertical-align: bottom;
        }
      }
    }

    &__ans {
      &__list {
        @include padding(50px 0);
        &__item {
          & + & {
            margin-top: 0px;
          }

          &__text {
            @include font-style($c-white, 16, 400, 0.12em, 30px);

            &__link {
              @include font-style($c-white, 16, 400, 0.12em, 30px);
            }
          }
        }
      }
    }
  }
}
