@import '../vars-and-mixins/index.scss';
@import '../utils/index.scss';

.footer {
  position: relative;
  z-index: $zi-content;
  margin-top: 105px;

  &__content {
    max-width: 590px;
    // padding-top: 105px;
    padding-bottom: 50px;
  }
}

.footer-logo {
  text-align: center;

  &__img {
    width: 88px;
    vertical-align: bottom;
  }
}

.links-wrap {
  margin-top: 25px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  @include padding(5px 0);
}

.link-list {
  width: 100%;
  @include flex(space-between);

  &__item {
    flex: 1;
    @include flex(center);

    &--divide {
      flex: none;
      width: 1px;
    }

    &__link {
      display: inline-block;
      @include font-style($c-black, 12, 400, 0.075em, 30px);
      cursor: pointer;
    }

    &__divide {
      width: 1px;
      height: 32px;
      background-color: $c-black;
    }
  }
}

.declare-wrap {
  margin-top: 20px;
  text-align: center;
}

.declare {
  &__text {
    display: block;
    text-align: center;
    @include font-style($c-black, 12, 400, 0.06em, 12px);
  }
}

@media screen and (min-width: $sm-pc) {
  .links-wrap {
    margin-top: 45px;
  }

  .link-list {
    &__item {
      &__link {
        @include font-size(16);
      }
    }
  }

  .declare-wrap {
    margin-top: 33px;
  }

  .declare {
    &__text {
      display: inline-block;
    }
  }
}
