@import '../vars-and-mixins/index.scss';
@import '../utils/index.scss';

.mint {
  background-color: $c-black;
  padding-top: 105px;
  padding-bottom: 64px;
  position: relative;

  &::after {
    content: '';
    @include position(bl, 0%, 0);
    display: block;
    width: 100%;
    height: 360px;
    background-image: url('../../static/gradient-01.jpg');
    background-size: 100% 360px;
    background-repeat: no-repeat;
    z-index: $zi-content-bg-gradient;
  }

  &__content {
    width: 100%;
    position: relative;
    z-index: $zi-content;
  }
}

.banner {
  width: 100%;
  position: relative;

  &__img {
    width: 100%;
    vertical-align: bottom;
  }

  &__rotate-img {
    @include position(bl, -30%, 50%);
    transform: translateX(-50%);

    width: 30vw;
  }
}

.breeze-aaron {
  margin-top: 15vw;
  // margin-top: 60px;

  &__text {
    @include font-style($c-white, 20, 400, 0.095em, 38px);
    text-align: center;
  }
}

.countdown {
  margin-top: 32px;

  &__launch-text {
    @include font-style($c-white, 15, 400, 0.12em, 22px);
    text-align: center;
  }
}

.countdown-wrap {
  margin: 18px auto 0;
  width: 100%;
  max-width: 325px;
  @include flex(space-between, flex-end);
  margin-top: 18px;

  &__num {
    @include font-style($c-light-green, 40, 400, 0.095em, 44px);
  }

  &__unit {
    @include font-style($c-white, 15, 400, 0.19em, 22px);
  }
}

.btn-wrap {
  margin-top: 70px;
  @include flex(center, center, column);

  &__btn {
    @include flex(center);
    @include font-style($c-white, 20, 400, 0.095em, 38px);
    width: 200px;
    height: 64px;
    background-color: transparent;
    border: 0px transparent;
    outline: 0px transparent;
    border: 2px solid $c-blue;
    border-radius: 32px;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
      background-color: $c-blue;
    }

    & + & {
      margin-top: 30px;
    }
  }
}

.slogan {
  margin-top: 64px;

  &__text {
    @include font-style($c-white, 20, 400, 0.19em, 44px);
    text-align: center;
  }
}

.activity-time {
  margin-top: 60px;
  border-top: 1px solid $c-white;
  border-bottom: 1px solid $c-white;

  &__wrap {
    & + & {
      border-top: 1px solid $c-white;
    }
  }
}

.activity-box {
  @include flex(space-between, flex-start);
  @include padding(20px 0);

  &__title {
    flex: 1;
    @include font-style($c-white, 15, 400, 0.12em, 22px);
  }

  &__date {
    flex: none;
    width: 150px;

    &__text {
      @include font-style($c-white, 15, 400, 0.12em, 22px);
    }

    &__start-end {
      &__text {
        @include font-style($c-white, 15, 400, 0.12em, 22px);
      }
    }
  }
}

.b-blue {
  margin-top: 66px;
  @include padding(0 16px);

  &__text {
    @include font-style($c-white, 15, 400, 0.12em, 26px);
    text-align: center;

    &--margin-top {
      margin-top: 40px;
    }
  }

  &__img-box {
    margin-top: 26px;
    text-align: center;

    &__img {
      vertical-align: bottom;
    }
  }
}

.publish-plan {
  border-top: 1px solid $c-white;
  padding-top: 53px;

  &__title {
    @include font-style($c-light-green, 20, 400, 0.19em, 44px);
    text-align: center;
  }

  &__desc {
    margin-top: 26px;

    &__text {
      @include font-style($c-white, 15, 400, 0.12em, 26px);
      text-align: center;
    }
  }
}

.nie-talk {
  margin-top: 43px;

  &__first {
    @include font-style($c-white, 15, 400, 0.1em, 26px);
    text-indent: 50px;

    &__text {
      @include font-style($c-white, 15, 400, 0.1em, 26px);
    }
  }

  &__second {
    margin-top: 32px;
    text-indent: 50px;

    &__text {
      @include font-style($c-white, 15, 400, 0.1em, 26px);
    }

    &__divide {
      width: 100%;
      height: 1px;
      margin-top: 22px;
      margin-bottom: 20px;
      background-color: $c-white;
    }

    &__name {
      @include font-style($c-white, 15, 400, 0.12em, 26px);
      text-align: right;
    }
  }
}

@media screen and (min-width: $sm-pc) {
  .mint {
    &::after {
      height: 450px;
      background-size: 100% 450px;
    }
  }
  .banner {
    &__rotate-img {
      @include position(bl, -160px, 50%);
      transform: translateX(-50%);

      width: 450px;
    }
  }

  .breeze-aaron {
    margin-top: 235px;

    &__text {
      @include font-style($c-white, 40, 400, 0.125em, 48px);
    }
  }

  .countdown {
    &__launch-text {
      @include font-style($c-white, 24, 400, 0.095em, 38px);
    }
  }

  .countdown-wrap {
    max-width: 560px;

    &__num {
      @include font-style($c-light-green, 50, 400, 0.125em, 60px);
    }

    &__unit {
      @include font-style($c-white, 24, 400, 0.125em, 38px);
    }
  }

  .btn-wrap {
    margin-top: 120px;
    @include flex(center, center);

    &__btn {
      width: 300px;
      @include font-style($c-white, 32, 400, 0.125em, 38px);

      & + & {
        margin-top: 0px;
        margin-left: 40px;
      }
    }
  }

  .slogan {
    margin-top: 100px;

    &__text {
      & + & {
        margin-top: 10px;
      }
    }
  }

  .activity-time {
    @include flex();
    @include padding(30px 0 20px);

    &__wrap {
      & + & {
        border-top: 0 transparent;
      }

      &--left {
        flex: 127;
      }

      &--divide {
        width: 1px;
        height: 97px;
        background-color: $c-white;
        margin: 0 70px;
      }

      &--right {
        flex: 93;
      }
    }
  }

  .activity-box {
    &__title {
      @include font-style($c-white, 24, 400, 0.095em, 38px);
    }

    &__date {
      width: auto;
      &__text {
        @include font-style($c-white, 24, 400, 0.095em, 38px);
      }

      &__start-end {
        @include flex();

        &__text {
          @include font-style($c-white, 24, 400, 0.095em, 38px);
        }
      }
    }
  }

  .b-blue {
    margin-top: 150px;

    &__text {
      @include font-style($c-white, 24, 400, 0.19em, 44px);
    }

    &__img-box {
      margin-top: 75px;
      margin-bottom: 68px;

      &__img {
      }
    }
  }

  .publish-plan {
    padding-top: 112px;

    &__title {
      @include font-style($c-light-green, 38, 400, 0.415em, 53px);
    }

    &__desc {
      margin-top: 66px;
      &__text {
        @include font-style($c-white, 24, 400, 0.19em, 44px);
      }
    }
  }

  .nie-talk {
    margin-top: 119px;
    @include flex(flex-start, flex-start);

    &__first {
      flex: 1;
      @include font-style($c-white, 16, 400, 0.075em, 30px);
      @include padding(0 20px 00);
    }

    &__second {
      flex: 1;
      @include padding(0 0 0 20px);
      margin-top: 0px;

      &__text {
        @include font-style($c-white, 16, 400, 0.075em, 30px);
      }

      &__divide {
        margin-bottom: 35px;
        margin-bottom: 35px;
      }
    }
  }
}
