@import '../vars-and-mixins/index.scss';
@import '../utils/index.scss';

.roadmap {
  background-color: $c-black;
  padding-top: 54px;
  padding-bottom: 66px;
  position: relative;

  &::after {
    content: '';
    @include position(bl, 0%, 0);
    display: block;
    width: 100%;
    height: 900px;
    background-image: url('../../static/gradient-02.jpg');
    background-size: 100% 900px;
    background-repeat: no-repeat;
    z-index: $zi-content-bg-gradient;
  }

  &__content {
    position: relative;
    z-index: $zi-content;
  }
}

.roadmap-title {
  @include font-style($c-light-green, 20, 400, 0.095em, 38px);
  text-align: center;
}

.step-wrap {
  margin-top: 60px;
}

.step-box {
  & + & {
    margin-top: 80px;
  }
}

.step-info {
  &__index {
    @include font-style($c-light-green, 12, 400, 0.12em, 26px);
  }
  &__line {
    width: 2px;
    height: 26px;
    background-color: $c-white;
    margin: 6px 0 6px 20px;
  }

  &__title {
    @include font-style($c-light-green, 15, 400, 0.12em, 26px);
  }
}

.step-desc {
  margin-top: 10px;

  &__title {
    display: none;
  }

  &__text {
    @include font-style($c-white, 15, 400, 0.12em, 22px);

    &--paragraph {
      margin-top: 40px;
    }

    &--bcd {
      margin-top: 50px;
    }
    // &--notice {

    // }
  }
}

@media screen and (min-width: $sm-pc) {
  .roadmap {
    &::after {
      height: 800px;
      background-size: 100% 800px;
    }
  }

  .step-wrap {
    margin-top: 107px;
  }

  .step-box {
    @include flex(flex-start, flex-start);
  }

  .step-info {
    flex: none;
    width: 100px;
    margin-right: 85px;

    &__index {
      @include font-style($c-light-green, 20, 400, 0.095em, 38px);
    }

    &__line {
      display: none;

      // height: 100%;
    }

    &__title {
      display: none;
    }
  }

  .step-desc {
    margin-top: 0;
    position: relative;
    height: 100%;
    padding-bottom: 86px;

    &::before {
      content: '';
      width: 2px;
      height: calc(100% - 50px);
      background-color: $c-white;
      display: inline-block;
      @include position(tl, 50px, -150px);
    }

    &--no-padding {
      padding: 0;

      &::before {
        display: none;
      }
    }

    &__title {
      display: block;
      @include font-style($c-light-green, 20, 400, 0.095em, 38px);
      margin-bottom: 25px;
    }

    &__text {
      &--bcd {
        margin-top: 90px;
      }
    }
  }
}
