.g-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .g-content {
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .g-content {
    padding: 0;
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .g-content {
    max-width: 1366px;
  }
}

@media screen and (min-width: 1600px) {
  .g-content {
    max-width: 1366px;
  }
}

.display {
  background-color: #1f00d3;
}

.display__content {
  padding-top: 64px;
  padding-bottom: 100px;
}
/*# sourceMappingURL=display.css.map */