@charset "UTF-8";
#html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 16px !important;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

@font-face {
  font-family: AAGrotesk;
  src: url("../../static/font/AAGrotesk-Regular.otf");
}

* {
  font-family: AAGrotesk, 'PingFang TC', Microsoft JhengHei, 微軟正黑體, sans-serif, Arial, Helvetica;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.ly {
  width: 100%;
  height: 100%;
}

.g-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .g-content {
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .g-content {
    padding: 0;
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .g-content {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1600px) {
  .g-content {
    max-width: 1100px;
  }
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-header {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}

.mobile-header__content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
}

.header-logo__img {
  width: 193px;
  vertical-align: bottom;
}

.hbg {
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.hbg__bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 35px;
  height: 2px;
  background-color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-menu-checkbox {
  display: none;
}

.header-menu-checkbox[type='checkbox'] ~ .header-content {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: fixed;
  top: -100%;
  left: 0;
}

.header-menu-checkbox[type='checkbox'] + .mobile-header .hbg__bar--close {
  opacity: 0;
}

.header-menu-checkbox[type='checkbox'] + .mobile-header .hbg__bar--open {
  -webkit-box-shadow: 0 11px 0px #000, 0px -11px 0px #000;
          box-shadow: 0 11px 0px #000, 0px -11px 0px #000;
}

.header-menu-checkbox[type='checkbox']:checked ~ .header-content {
  position: fixed;
  top: 0;
  left: 0;
}

.header-menu-checkbox[type='checkbox']:checked + .mobile-header .hbg__bar--close {
  opacity: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.header-menu-checkbox[type='checkbox']:checked + .mobile-header .hbg__bar--close--top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-menu-checkbox[type='checkbox']:checked + .mobile-header .hbg__bar--close--bottom {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-menu-checkbox[type='checkbox']:checked + .mobile-header .hbg__bar--open {
  opacity: 0;
  -webkit-box-shadow: 0 0px 0px #000, 0px 0px 0px #000;
          box-shadow: 0 0px 0px #000, 0px 0px 0px #000;
}

.header-content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #7dff7c;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 107px 20px;
  z-index: 50;
  box-sizing: border-box;
  border-bottom: 2px solid #000;
}

.header-content__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.nav-list__item + .nav-list__item {
  margin-top: 25px;
}

.nav-list__item__link {
  color: #000;
  font-size: calc(40rem / 16);
  font-weight: 400;
  letter-spacing: 0.095em;
  line-height: 38px;
  cursor: pointer;
}

.social-media-list__item + .social-media-list__item {
  margin-top: 30px;
}

.social-media-list__item__icon {
  cursor: pointer;
}

.header-menu-logo {
  margin-top: 48px;
  width: 95px;
}

.header-menu-logo__img {
  width: 100%;
  vertical-align: bottom;
}

@media screen and (min-width: 1440px) {
  .main-header {
    height: 60px;
    background-color: #fff;
  }
  .mobile-header {
    display: none;
  }
  .mobile-header__content {
    height: 60px;
  }
  .header-menu-checkbox {
    display: none;
  }
  .header-menu-checkbox[type='checkbox'] ~ .header-content, .header-menu-checkbox[type='checkbox']:checked ~ .header-content {
    position: fixed;
    top: 0;
    left: 0;
  }
  .header-content {
    height: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    position: static;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-content__content {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-list__item + .nav-list__item {
    margin-top: 0px;
    margin-left: 34px;
  }
  .nav-list__item__link {
    color: #000;
    font-size: calc(16rem / 16);
    font-weight: 400;
    letter-spacing: 0.12em;
    line-height: 30px;
    cursor: pointer;
  }
  .other-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social-media-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social-media-list__item + .social-media-list__item {
    margin-top: 0px;
    margin-left: 23px;
  }
  .header-menu-logo {
    margin-top: 0;
  }
  .header-menu-logo__img {
    margin-left: 23px;
    cursor: pointer;
  }
}

.g-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .g-content {
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .g-content {
    padding: 0;
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .g-content {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1600px) {
  .g-content {
    max-width: 1100px;
  }
}

.mint {
  background-color: #000;
  padding-top: 105px;
  padding-bottom: 64px;
  position: relative;
}

.mint::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0;
  display: block;
  width: 100%;
  height: 360px;
  background-image: url("../../static/gradient-01.jpg");
  background-size: 100% 360px;
  background-repeat: no-repeat;
  z-index: 9;
}

.mint__content {
  width: 100%;
  position: relative;
  z-index: 10;
}

.banner {
  width: 100%;
  position: relative;
}

.banner__img {
  width: 100%;
  vertical-align: bottom;
}

.banner__rotate-img {
  position: absolute;
  bottom: -30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30vw;
}

.breeze-aaron {
  margin-top: 15vw;
}

.breeze-aaron__text {
  color: #fff;
  font-size: calc(20rem / 16);
  font-weight: 400;
  letter-spacing: 0.095em;
  line-height: 38px;
  text-align: center;
}

.countdown {
  margin-top: 32px;
}

.countdown__launch-text {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
  text-align: center;
}

.countdown-wrap {
  margin: 18px auto 0;
  width: 100%;
  max-width: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 18px;
}

.countdown-wrap__num {
  color: #7dff7c;
  font-size: calc(40rem / 16);
  font-weight: 400;
  letter-spacing: 0.095em;
  line-height: 44px;
}

.countdown-wrap__unit {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.19em;
  line-height: 22px;
}

.btn-wrap {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-wrap__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  font-size: calc(20rem / 16);
  font-weight: 400;
  letter-spacing: 0.095em;
  line-height: 38px;
  width: 200px;
  height: 64px;
  background-color: transparent;
  border: 0px transparent;
  outline: 0px transparent;
  border: 2px solid #1f00d3;
  border-radius: 32px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.btn-wrap__btn:hover {
  background-color: #1f00d3;
}

.btn-wrap__btn + .btn-wrap__btn {
  margin-top: 30px;
}

.slogan {
  margin-top: 64px;
}

.slogan__text {
  color: #fff;
  font-size: calc(20rem / 16);
  font-weight: 400;
  letter-spacing: 0.19em;
  line-height: 44px;
  text-align: center;
}

.activity-time {
  margin-top: 60px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.activity-time__wrap + .activity-time__wrap {
  border-top: 1px solid #fff;
}

.activity-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
}

.activity-box__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
}

.activity-box__date {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 150px;
}

.activity-box__date__text {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
}

.activity-box__date__start-end__text {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
}

.b-blue {
  margin-top: 66px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16px;
}

.b-blue__text {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 26px;
  text-align: center;
}

.b-blue__text--margin-top {
  margin-top: 40px;
}

.b-blue__img-box {
  margin-top: 26px;
  text-align: center;
}

.b-blue__img-box__img {
  vertical-align: bottom;
}

.publish-plan {
  border-top: 1px solid #fff;
  padding-top: 53px;
}

.publish-plan__title {
  color: #7dff7c;
  font-size: calc(20rem / 16);
  font-weight: 400;
  letter-spacing: 0.19em;
  line-height: 44px;
  text-align: center;
}

.publish-plan__desc {
  margin-top: 26px;
}

.publish-plan__desc__text {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 26px;
  text-align: center;
}

.nie-talk {
  margin-top: 43px;
}

.nie-talk__first {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 26px;
  text-indent: 50px;
}

.nie-talk__first__text {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 26px;
}

.nie-talk__second {
  margin-top: 32px;
  text-indent: 50px;
}

.nie-talk__second__text {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 26px;
}

.nie-talk__second__divide {
  width: 100%;
  height: 1px;
  margin-top: 22px;
  margin-bottom: 20px;
  background-color: #fff;
}

.nie-talk__second__name {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 26px;
  text-align: right;
}

@media screen and (min-width: 1440px) {
  .mint::after {
    height: 450px;
    background-size: 100% 450px;
  }
  .banner__rotate-img {
    position: absolute;
    bottom: -160px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 450px;
  }
  .breeze-aaron {
    margin-top: 235px;
  }
  .breeze-aaron__text {
    color: #fff;
    font-size: calc(40rem / 16);
    font-weight: 400;
    letter-spacing: 0.125em;
    line-height: 48px;
  }
  .countdown__launch-text {
    color: #fff;
    font-size: calc(24rem / 16);
    font-weight: 400;
    letter-spacing: 0.095em;
    line-height: 38px;
  }
  .countdown-wrap {
    max-width: 560px;
  }
  .countdown-wrap__num {
    color: #7dff7c;
    font-size: calc(50rem / 16);
    font-weight: 400;
    letter-spacing: 0.125em;
    line-height: 60px;
  }
  .countdown-wrap__unit {
    color: #fff;
    font-size: calc(24rem / 16);
    font-weight: 400;
    letter-spacing: 0.125em;
    line-height: 38px;
  }
  .btn-wrap {
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .btn-wrap__btn {
    width: 300px;
    color: #fff;
    font-size: calc(32rem / 16);
    font-weight: 400;
    letter-spacing: 0.125em;
    line-height: 38px;
  }
  .btn-wrap__btn + .btn-wrap__btn {
    margin-top: 0px;
    margin-left: 40px;
  }
  .slogan {
    margin-top: 100px;
  }
  .slogan__text + .slogan__text {
    margin-top: 10px;
  }
  .activity-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 0 20px;
  }
  .activity-time__wrap + .activity-time__wrap {
    border-top: 0 transparent;
  }
  .activity-time__wrap--left {
    -webkit-box-flex: 127;
        -ms-flex: 127;
            flex: 127;
  }
  .activity-time__wrap--divide {
    width: 1px;
    height: 97px;
    background-color: #fff;
    margin: 0 70px;
  }
  .activity-time__wrap--right {
    -webkit-box-flex: 93;
        -ms-flex: 93;
            flex: 93;
  }
  .activity-box__title {
    color: #fff;
    font-size: calc(24rem / 16);
    font-weight: 400;
    letter-spacing: 0.095em;
    line-height: 38px;
  }
  .activity-box__date {
    width: auto;
  }
  .activity-box__date__text {
    color: #fff;
    font-size: calc(24rem / 16);
    font-weight: 400;
    letter-spacing: 0.095em;
    line-height: 38px;
  }
  .activity-box__date__start-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .activity-box__date__start-end__text {
    color: #fff;
    font-size: calc(24rem / 16);
    font-weight: 400;
    letter-spacing: 0.095em;
    line-height: 38px;
  }
  .b-blue {
    margin-top: 150px;
  }
  .b-blue__text {
    color: #fff;
    font-size: calc(24rem / 16);
    font-weight: 400;
    letter-spacing: 0.19em;
    line-height: 44px;
  }
  .b-blue__img-box {
    margin-top: 75px;
    margin-bottom: 68px;
  }
  .publish-plan {
    padding-top: 112px;
  }
  .publish-plan__title {
    color: #7dff7c;
    font-size: calc(38rem / 16);
    font-weight: 400;
    letter-spacing: 0.415em;
    line-height: 53px;
  }
  .publish-plan__desc {
    margin-top: 66px;
  }
  .publish-plan__desc__text {
    color: #fff;
    font-size: calc(24rem / 16);
    font-weight: 400;
    letter-spacing: 0.19em;
    line-height: 44px;
  }
  .nie-talk {
    margin-top: 119px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nie-talk__first {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #fff;
    font-size: calc(16rem / 16);
    font-weight: 400;
    letter-spacing: 0.075em;
    line-height: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px 0;
  }
  .nie-talk__second {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 0 0 20px;
    margin-top: 0px;
  }
  .nie-talk__second__text {
    color: #fff;
    font-size: calc(16rem / 16);
    font-weight: 400;
    letter-spacing: 0.075em;
    line-height: 30px;
  }
  .nie-talk__second__divide {
    margin-bottom: 35px;
    margin-bottom: 35px;
  }
}

.g-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .g-content {
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .g-content {
    padding: 0;
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .g-content {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1600px) {
  .g-content {
    max-width: 1100px;
  }
}

.about {
  background-color: #1f00d3;
  padding-top: 65px;
  padding-bottom: 65px;
}

.three__title,
.two__title {
  text-align: center;
}

.three__title__main,
.two__title__main {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
}

.three__title__desc,
.two__title__desc {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
  margin-top: 40px;
}

.three__title__memo,
.two__title__memo {
  color: #fff;
  font-size: calc(12rem / 16);
  font-weight: 400;
  letter-spacing: 0.17em;
  line-height: 32px;
  margin-top: 20px;
}

.three__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__box {
  max-width: 340px;
}

.work__box + .work__box {
  margin-top: 62px;
}

.work__box__upper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
}

.work__box__upper__img-box {
  margin-top: 67px;
  margin-bottom: 40px;
}

.work__box__upper__img-box__img {
  width: 100%;
  vertical-align: bottom;
}

.work__box__upper__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.work__box__upper__desc__left__tier {
  text-align: right;
  color: #fff;
  font-size: calc(24rem / 16);
  font-weight: 400;
  letter-spacing: 0.095em;
  line-height: 38px;
  height: 38px;
  margin-bottom: 15px;
}

.work__box__upper__desc__left__title__eng {
  padding-top: 15px;
  color: #fff;
  font-size: calc(24rem / 16);
  font-weight: 400;
  letter-spacing: 0.095em;
  line-height: 38px;
  position: relative;
}

.work__box__upper__desc__left__title__eng::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.work__box__upper__desc__left__title__ch {
  color: #fff;
  font-size: calc(24rem / 16);
  font-weight: 400;
  letter-spacing: 0.095em;
  line-height: 38px;
}

.work__box__upper__desc__right__top-text {
  color: #fff;
  font-size: calc(16rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 30px;
  height: 38px;
  margin-bottom: 15px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.work__box__upper__desc__right__bottom-num {
  color: #fff;
  font-size: calc(16rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 30px;
  position: relative;
  padding-top: 15px;
}

.work__box__upper__desc__right__bottom-num::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.work__box__upper__promote-text {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
  margin-top: 50px;
  text-align: center;
}

.work__box__intro {
  margin-top: 36px;
}

.work__box__intro__text {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 22px;
}

.work__box__intro__text + .work__box__intro__text {
  margin-top: 62px;
}

.divide {
  margin-top: 24px;
  margin-bottom: 60px;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

.public-version {
  text-align: center;
  margin-top: 54px;
}

.public-version__img-box__img {
  vertical-align: bottom;
}

.public-version__texts {
  margin-top: 70px;
  margin-bottom: 70px;
}

.public-version__texts__text {
  color: #fff;
  font-size: calc(30rem / 16);
  font-weight: 400;
  letter-spacing: 0.095em;
  line-height: 38px;
}

.public-version__texts__movement {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
  margin-top: 34px;
}

.weird-creature {
  margin-top: 90px;
  text-align: center;
}

.weird-creature__img {
  width: 67px;
  vertical-align: bottom;
}

@media screen and (min-width: 1440px) {
  .about {
    background-color: #1f00d3;
  }
  .about__content {
    padding-top: 112px;
    padding-bottom: 120px;
  }
  .three__title,
  .two__title {
    text-align: center;
  }
  .three__title__main,
  .two__title__main {
    color: #fff;
    font-size: calc(24rem / 16);
    font-weight: 400;
    letter-spacing: 0.19em;
    line-height: 44px;
  }
  .three__title__desc,
  .two__title__desc {
    color: #fff;
    font-size: calc(24rem / 16);
    font-weight: 400;
    letter-spacing: 0.19em;
    line-height: 44px;
  }
  .three__title__memo,
  .two__title__memo {
    color: #fff;
    font-size: calc(12rem / 16);
    font-weight: 400;
    letter-spacing: 0.17em;
    line-height: 32px;
    margin-top: 20px;
  }
  .three__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 110px;
  }
  .work__box {
    width: 100%;
    max-width: 340px;
  }
  .work__box + .work__box {
    margin-top: 0px;
  }
  .work__box__upper__img-box {
    margin-top: 0;
  }
  .divide {
    margin-top: 80px;
    margin-bottom: 74px;
  }
  .public-version {
    margin-top: 126px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .public-version__img-box__img {
    vertical-align: bottom;
  }
  .public-version__texts {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .public-version__texts__text {
    color: #fff;
    font-size: calc(40rem / 16);
    font-weight: 400;
    letter-spacing: 0.125em;
    line-height: 48px;
  }
  .public-version__texts__movement {
    color: #fff;
    font-size: calc(24rem / 16);
    font-weight: 400;
    letter-spacing: 0.095em;
    line-height: 38px;
    margin-top: 52px;
  }
  .weird-creature__img {
    width: 123px;
  }
}

.g-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .g-content {
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .g-content {
    padding: 0;
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .g-content {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1600px) {
  .g-content {
    max-width: 1100px;
  }
}

.roadmap {
  background-color: #000;
  padding-top: 54px;
  padding-bottom: 66px;
  position: relative;
}

.roadmap::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0;
  display: block;
  width: 100%;
  height: 900px;
  background-image: url("../../static/gradient-02.jpg");
  background-size: 100% 900px;
  background-repeat: no-repeat;
  z-index: 9;
}

.roadmap__content {
  position: relative;
  z-index: 10;
}

.roadmap-title {
  color: #7dff7c;
  font-size: calc(20rem / 16);
  font-weight: 400;
  letter-spacing: 0.095em;
  line-height: 38px;
  text-align: center;
}

.step-wrap {
  margin-top: 60px;
}

.step-box + .step-box {
  margin-top: 80px;
}

.step-info__index {
  color: #7dff7c;
  font-size: calc(12rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 26px;
}

.step-info__line {
  width: 2px;
  height: 26px;
  background-color: #fff;
  margin: 6px 0 6px 20px;
}

.step-info__title {
  color: #7dff7c;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 26px;
}

.step-desc {
  margin-top: 10px;
}

.step-desc__title {
  display: none;
}

.step-desc__text {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
}

.step-desc__text--paragraph {
  margin-top: 40px;
}

.step-desc__text--bcd {
  margin-top: 50px;
}

@media screen and (min-width: 1440px) {
  .roadmap::after {
    height: 800px;
    background-size: 100% 800px;
  }
  .step-wrap {
    margin-top: 107px;
  }
  .step-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .step-info {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100px;
    margin-right: 85px;
  }
  .step-info__index {
    color: #7dff7c;
    font-size: calc(20rem / 16);
    font-weight: 400;
    letter-spacing: 0.095em;
    line-height: 38px;
  }
  .step-info__line {
    display: none;
  }
  .step-info__title {
    display: none;
  }
  .step-desc {
    margin-top: 0;
    position: relative;
    height: 100%;
    padding-bottom: 86px;
  }
  .step-desc::before {
    content: '';
    width: 2px;
    height: calc(100% - 50px);
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: -150px;
  }
  .step-desc--no-padding {
    padding: 0;
  }
  .step-desc--no-padding::before {
    display: none;
  }
  .step-desc__title {
    display: block;
    color: #7dff7c;
    font-size: calc(20rem / 16);
    font-weight: 400;
    letter-spacing: 0.095em;
    line-height: 38px;
    margin-bottom: 25px;
  }
  .step-desc__text--bcd {
    margin-top: 90px;
  }
}

.g-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .g-content {
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .g-content {
    padding: 0;
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .g-content {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1600px) {
  .g-content {
    max-width: 1100px;
  }
}

.faq {
  background-color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 0 0;
  position: relative;
}

.faq::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0;
  display: block;
  width: 100%;
  height: 390px;
  background-image: url("../../static/gradient-03.jpg");
  background-size: 100% 390px;
  background-repeat: no-repeat;
  z-index: 9;
}

.faq__content {
  position: relative;
  z-index: 10;
}

.faq-title {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
  text-align: center;
}

.faq-list-wrap {
  margin-top: 60px;
}

.faq-list__item:last-child {
  border-bottom: 1px solid #fff;
}

.faq-item__checkbox {
  display: none;
}

.faq-item__ques {
  display: block;
  border-top: 1px solid #fff;
  cursor: pointer;
}

.faq-item__ques__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 0 18px;
  color: #7dff7c;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
}

.faq-item__ques__add {
  display: none;
}

.faq-item__ques__add__icon {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.faq-item__ans {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: auto;
}

.faq-item__ans__list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 0;
}

.faq-item__ans__list__item + .faq-item__ans__list__item {
  margin-top: 10px;
}

.faq-item__ans__list__item__text {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
}

.faq-item__ans__list__item__text__link {
  color: #fff;
  font-size: calc(15rem / 16);
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 22px;
}

@media screen and (min-width: 1440px) {
  .faq {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 112px 0 0;
  }
  .faq::after {
    height: 480px;
    background-size: 100% 480px;
  }
  .faq-title {
    color: #fff;
    font-size: calc(40rem / 16);
    font-weight: 400;
    letter-spacing: 0.125em;
    line-height: 48px;
  }
  .faq-list-wrap {
    margin-top: 102px;
  }
  .faq-item__ques {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .faq-item__ques__text {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 0;
    color: #7dff7c;
    font-size: calc(20rem / 16);
    font-weight: 400;
    letter-spacing: 0.095em;
    line-height: 22px;
  }
  .faq-item__ques__add {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px 0 0;
  }
  .faq-item__ques__add__icon {
    vertical-align: bottom;
  }
  .faq-item__ans__list {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px 0;
  }
  .faq-item__ans__list__item + .faq-item__ans__list__item {
    margin-top: 0px;
  }
  .faq-item__ans__list__item__text {
    color: #fff;
    font-size: calc(16rem / 16);
    font-weight: 400;
    letter-spacing: 0.12em;
    line-height: 30px;
  }
  .faq-item__ans__list__item__text__link {
    color: #fff;
    font-size: calc(16rem / 16);
    font-weight: 400;
    letter-spacing: 0.12em;
    line-height: 30px;
  }
}

.g-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .g-content {
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .g-content {
    padding: 0;
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .g-content {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1600px) {
  .g-content {
    max-width: 1100px;
  }
}

.footer {
  position: relative;
  z-index: 10;
  margin-top: 105px;
}

.footer__content {
  max-width: 590px;
  padding-bottom: 50px;
}

.footer-logo {
  text-align: center;
}

.footer-logo__img {
  width: 88px;
  vertical-align: bottom;
}

.links-wrap {
  margin-top: 25px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 0;
}

.link-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.link-list__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.link-list__item--divide {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 1px;
}

.link-list__item__link {
  display: inline-block;
  color: #000;
  font-size: calc(12rem / 16);
  font-weight: 400;
  letter-spacing: 0.075em;
  line-height: 30px;
  cursor: pointer;
}

.link-list__item__divide {
  width: 1px;
  height: 32px;
  background-color: #000;
}

.declare-wrap {
  margin-top: 20px;
  text-align: center;
}

.declare__text {
  display: block;
  text-align: center;
  color: #000;
  font-size: calc(12rem / 16);
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 12px;
}

@media screen and (min-width: 1440px) {
  .links-wrap {
    margin-top: 45px;
  }
  .link-list__item__link {
    font-size: calc(16rem / 16);
  }
  .declare-wrap {
    margin-top: 33px;
  }
  .declare__text {
    display: inline-block;
  }
}
/*# sourceMappingURL=index.css.map */