@charset "UTF-8";
.ly {
  width: 100%;
  height: 100%;
}

.g-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .g-content {
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .g-content {
    padding: 0;
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .g-content {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1600px) {
  .g-content {
    max-width: 1100px;
  }
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-header {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}

.mobile-header__content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
}

.header-logo__img {
  width: 193px;
  vertical-align: bottom;
}

.hbg {
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.hbg__bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 35px;
  height: 2px;
  background-color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-menu-checkbox {
  display: none;
}

.header-menu-checkbox[type='checkbox'] ~ .header-content {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: fixed;
  top: -100%;
  left: 0;
}

.header-menu-checkbox[type='checkbox'] + .mobile-header .hbg__bar--close {
  opacity: 0;
}

.header-menu-checkbox[type='checkbox'] + .mobile-header .hbg__bar--open {
  -webkit-box-shadow: 0 11px 0px #000, 0px -11px 0px #000;
          box-shadow: 0 11px 0px #000, 0px -11px 0px #000;
}

.header-menu-checkbox[type='checkbox']:checked ~ .header-content {
  position: fixed;
  top: 0;
  left: 0;
}

.header-menu-checkbox[type='checkbox']:checked + .mobile-header .hbg__bar--close {
  opacity: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.header-menu-checkbox[type='checkbox']:checked + .mobile-header .hbg__bar--close--top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-menu-checkbox[type='checkbox']:checked + .mobile-header .hbg__bar--close--bottom {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-menu-checkbox[type='checkbox']:checked + .mobile-header .hbg__bar--open {
  opacity: 0;
  -webkit-box-shadow: 0 0px 0px #000, 0px 0px 0px #000;
          box-shadow: 0 0px 0px #000, 0px 0px 0px #000;
}

.header-content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #7dff7c;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 107px 20px;
  z-index: 50;
  box-sizing: border-box;
  border-bottom: 2px solid #000;
}

.header-content__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.nav-list__item + .nav-list__item {
  margin-top: 25px;
}

.nav-list__item__link {
  color: #000;
  font-size: calc(40rem / 16);
  font-weight: 400;
  letter-spacing: 0.095em;
  line-height: 38px;
  cursor: pointer;
}

.social-media-list__item + .social-media-list__item {
  margin-top: 30px;
}

.social-media-list__item__icon {
  cursor: pointer;
}

.header-menu-logo {
  margin-top: 48px;
  width: 95px;
}

.header-menu-logo__img {
  width: 100%;
  vertical-align: bottom;
}

@media screen and (min-width: 1440px) {
  .main-header {
    height: 60px;
    background-color: #fff;
  }
  .mobile-header {
    display: none;
  }
  .mobile-header__content {
    height: 60px;
  }
  .header-menu-checkbox {
    display: none;
  }
  .header-menu-checkbox[type='checkbox'] ~ .header-content, .header-menu-checkbox[type='checkbox']:checked ~ .header-content {
    position: fixed;
    top: 0;
    left: 0;
  }
  .header-content {
    height: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    position: static;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-content__content {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-list__item + .nav-list__item {
    margin-top: 0px;
    margin-left: 34px;
  }
  .nav-list__item__link {
    color: #000;
    font-size: calc(16rem / 16);
    font-weight: 400;
    letter-spacing: 0.12em;
    line-height: 30px;
    cursor: pointer;
  }
  .other-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social-media-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social-media-list__item + .social-media-list__item {
    margin-top: 0px;
    margin-left: 23px;
  }
  .header-menu-logo {
    margin-top: 0;
  }
  .header-menu-logo__img {
    margin-left: 23px;
    cursor: pointer;
  }
}

#html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 16px !important;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

@font-face {
  font-family: AAGrotesk;
  src: url("../../static/font/AAGrotesk-Regular.otf");
}

* {
  font-family: AAGrotesk, 'PingFang TC', Microsoft JhengHei, 微軟正黑體, sans-serif, Arial, Helvetica;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.g-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .g-content {
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .g-content {
    padding: 0;
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .g-content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .g-content {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1600px) {
  .g-content {
    max-width: 1100px;
  }
}
/*# sourceMappingURL=index.css.map */